In [1]:
student = {
    "student1": {"name": "Aarav",    "course": "Computer Science", "marks": 88},
    "student2": {"name": "Saanvi",   "course": "Mathematics",      "marks": 95},
    "student3": {"name": "Vihaan",   "course": "Physics",          "marks": 82},
    "student4": {"name": "Aaradhya", "course": "Biology",          "marks": 91},
    "student5": {"name": "Arjun",    "course": "Data Science",     "marks": 79},
    "student6": {"name": "Anaya",    "course": "English",          "marks": 85},
    "student7": {"name": "Reyansh",  "course": "Economics",        "marks": 90},
    "student8": {"name": "Diya",     "course": "Psychology",       "marks": 87},
    "student9": {"name": "Kabir",    "course": "Chemistry",        "marks": 93},
    "student10":{"name": "Zara",     "course": "History",          "marks": 89}
}

for key, value in student.items():
    print(f"{key}: {value}")

student1: {'name': 'Aarav', 'course': 'Computer Science', 'marks': 88}
student2: {'name': 'Saanvi', 'course': 'Mathematics', 'marks': 95}
student3: {'name': 'Vihaan', 'course': 'Physics', 'marks': 82}
student4: {'name': 'Aaradhya', 'course': 'Biology', 'marks': 91}
student5: {'name': 'Arjun', 'course': 'Data Science', 'marks': 79}
student6: {'name': 'Anaya', 'course': 'English', 'marks': 85}
student7: {'name': 'Reyansh', 'course': 'Economics', 'marks': 90}
student8: {'name': 'Diya', 'course': 'Psychology', 'marks': 87}
student9: {'name': 'Kabir', 'course': 'Chemistry', 'marks': 93}
student10: {'name': 'Zara', 'course': 'History', 'marks': 89}

In [2]:
def assign_grade(marks):
    if marks >= 90:
        return "A"
    elif marks >= 80:
        return "B"
    elif marks >= 70:
        return "C"
    else:
        return "D"

for student_id, student_info in student.items(): # to traverse
    marks = student_info.get("marks")
    if marks is not None:
        student_info["grade"] = assign_grade(marks)

print("Updated student dictionary with grades:")
for key, value in student.items():
    print(f"{key}: {value}")

Updated student dictionary with grades:
student1: {'name': 'Aarav', 'course': 'Computer Science', 'marks': 88, 'grade': 'B'}
student2: {'name': 'Saanvi', 'course': 'Mathematics', 'marks': 95, 'grade': 'A'}
student3: {'name': 'Vihaan', 'course': 'Physics', 'marks': 82, 'grade': 'B'}
student4: {'name': 'Aaradhya', 'course': 'Biology', 'marks': 91, 'grade': 'A'}
student5: {'name': 'Arjun', 'course': 'Data Science', 'marks': 79, 'grade': 'C'}
student6: {'name': 'Anaya', 'course': 'English', 'marks': 85, 'grade': 'B'}
student7: {'name': 'Reyansh', 'course': 'Economics', 'marks': 90, 'grade': 'A'}
student8: {'name': 'Diya', 'course': 'Psychology', 'marks': 87, 'grade': 'B'}
student9: {'name': 'Kabir', 'course': 'Chemistry', 'marks': 93, 'grade': 'A'}
student10: {'name': 'Zara', 'course': 'History', 'marks': 89, 'grade': 'B'}

In [3]:
print("All keys and values in the student dictionary:")
for key, value in student.items():
    print(f"Key: {key}, Value: {value}")

All keys and values in the student dictionary:
Key: student1, Value: {'name': 'Aarav', 'course': 'Computer Science', 'marks': 88, 'grade': 'B'}
Key: student2, Value: {'name': 'Saanvi', 'course': 'Mathematics', 'marks': 95, 'grade': 'A'}
Key: student3, Value: {'name': 'Vihaan', 'course': 'Physics', 'marks': 82, 'grade': 'B'}
Key: student4, Value: {'name': 'Aaradhya', 'course': 'Biology', 'marks': 91, 'grade': 'A'}
Key: student5, Value: {'name': 'Arjun', 'course': 'Data Science', 'marks': 79, 'grade': 'C'}
Key: student6, Value: {'name': 'Anaya', 'course': 'English', 'marks': 85, 'grade': 'B'}
Key: student7, Value: {'name': 'Reyansh', 'course': 'Economics', 'marks': 90, 'grade': 'A'}
Key: student8, Value: {'name': 'Diya', 'course': 'Psychology', 'marks': 87, 'grade': 'B'}
Key: student9, Value: {'name': 'Kabir', 'course': 'Chemistry', 'marks': 93, 'grade': 'A'}
Key: student10, Value: {'name': 'Zara', 'course': 'History', 'marks': 89, 'grade': 'B'}

In [4]:
ai_tools_set1 = [
    {"name": "TensorFlow", "type": "Machine Learning Library", "language": "Python"},
    {"name": "PyTorch", "type": "Machine Learning Library", "language": "Python"},
    {"name": "Keras", "type": "Deep Learning API", "language": "Python"}
]

ai_tools_set2 = [
    {"name": "Scikit-learn", "type": "Machine Learning Library", "language": "Python"},
    {"name": "OpenCV", "type": "Computer Vision Library", "language": "Python"},
    {"name": "NLTK", "type": "Natural Language Processing Library", "language": "Python"}
]

print("AI Tools Set 1:", ai_tools_set1)
print("AI Tools Set 2:", ai_tools_set2)

AI Tools Set 1: [{'name': 'TensorFlow', 'type': 'Machine Learning Library', 'language': 'Python'}, {'name': 'PyTorch', 'type': 'Machine Learning Library', 'language': 'Python'}, {'name': 'Keras', 'type': 'Deep Learning API', 'language': 'Python'}]
AI Tools Set 2: [{'name': 'Scikit-learn', 'type': 'Machine Learning Library', 'language': 'Python'}, {'name': 'OpenCV', 'type': 'Computer Vision Library', 'language': 'Python'}, {'name': 'NLTK', 'type': 'Natural Language Processing Library', 'language': 'Python'}]